.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  background: rgb(0 0 0 / 70%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal button {
  margin: 10px;
  padding: 10px 10px;
}

.modal-container {
  background: white;
  width: 450px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.modal-content {
  text-align: center;
}
.modal-footer {
  padding: 30px;
  text-align: center;
}



.modal .button-green {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.modal .button-cancel {
  border: none;
  color: #000;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.modal .button-green:hover, .modal .button-cancel:hover {
  opacity: 0.8;
}