body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: left;
}


.spinner-container {
  width: 100%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.register .spinner-container,
.user-list .spinner-container {
  background: #fff;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.app-container{
  padding: 5px 15px;
}
